@page "/fetchdata"

@inject HttpClient Http

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (users.Count <= 0)
{
    <p><em>Loading...</em></p>
}
else
{

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var user in users)
            {
                <tr>
                    <td>@user.id</td>
                    <td>@user.email</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<UserResponseDto> users = new List<UserResponseDto>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetStringAsync("user/getusers");
        if (result != null)
        {
            var data = JsonSerializer.Deserialize<ApiResponseDecoder<ICollection<UserResponseDto>>>(result);
            foreach (var user in data.result)
            {
                users.Add(user);
            }
        }
    }

}
